* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #450041;
  background-image: url("img/bkg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}

p{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2px;
    font-weight: lighter;
}

h3{
    font-size: 32px;
    font-weight: 600;
    color: #E5E5E5;
    max-width: 615px;
    margin-bottom: 16px; 
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

header{
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    padding: 6px 16px;
    background: rgba(229, 229, 229, 0.26);
    border-radius: 45px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 21px rgba(255, 118, 228, 0.31); /* glow rosa */
    text-decoration: none;
    margin-right: 16px;

}

nav a:hover{
    background-color: #AE2392;
    transition: .3s all;
}

nav a.active{
    background-color: #AE2392;
    margin-right: 0;
}


.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero .container span{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 6px;
    color: #FF00E5;
}

.hero .container h2{
    font-size: 48px;
    font-weight: 600;
    color: #E5E5E5;
    max-width: 645px;
    text-align: center;
    margin-bottom: 16px;
}

.hero .container p{
    text-align: center;
    max-width: 645px;
    margin-bottom: 25px;
}

button{
    padding: 12px 22px;
    background: #AE2392;
    border-radius: 45px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 21px rgba(255, 118, 228, 0.31); /* glow rosa */
    text-decoration: none;
    margin-right: 16px;
    color: #FFFFFF;
}

button:hover{
    opacity: .7;
    transition: all .3s;
}

.hero img{
    margin-top: 42px;
}

.sobre{
    margin-top: 180px;
    margin-bottom: 136px;
}

.sobre h2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 6px;
    color: #FF00E5;
    margin-bottom: 16px;
}

.sobre p{
    max-width: 645px;
    margin-bottom: 25px;
}

footer{
    text-align: center;
    font-size: 8px;
    padding: 20px 0;
}